
h1{
  text-align:center;
}

.rectanguloGrande {
     width: 1000px;
     height: 500px;
     border: 3px solid #555;
     background:darkgreen;
     position:relative;
     margin: auto;
     margin-top: 50px;

}
.lineaVert{
      margin-left: 500px;
    	background-color: white;
    	border-left: 1px solid #ccc;
    	width:1px;
    	height:500px;
      position: absolute;

}
.rectanguloChico1{
      margin-left: 0px;
      margin-top: 130px;
      border: solid 1px white;
      background-color: darkgreen;
      width:150px;
      height:250px;
      position: absolute;
}

.rectanguloChico2{
      margin-left: 846px;
      margin-top: 130px;
      border: solid 1px white;
      background-color: darkgreen;
      width:150px;
      height:250px;
      position: absolute;
}

.semiCirculo1{
      margin-left: 794px;
    	margin-top: 200px;
    	width: 50px;
      height: 100px;
      border: 1px solid white;
      background: darkgreen;
      -moz-border-radius: 0 100px 100px 0;
      -webkit-border-radius: 0 100px 100px 0;
      border-radius: 100px 0 0 100px;
      position: absolute;
}
.semiCirculo2{
      margin-left: 150px;
      margin-top: 200px;
      width: 50px;
      height: 100px;
      border: 1px solid white;
      background: darkgreen;
      -moz-border-radius: 0 100px 100px 0;
      -webkit-border-radius: 0 100px 100px 0;
      border-radius: 0 100px 100px 0;
      position: absolute;
}
.circuloCentral{
    	margin-left: 450px;
    	margin-top: 200px;
    	width: 100px;
      height: 100px;
      border: 1px solid white;
      background: transparent;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
}
